:root {
  --title-color: hsl(0, 100%, 37.5%);
  --subtitle-color: hsl(0, 40%, 50%);
  --bullet-color: hsl(30, 100%, 50%);
}

* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;

     /*outline: red 1px solid;*/
}

body {
  font-family: 'PT Serif', serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}

section {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  min-width: 40px;
  min-height: 40px;
}

a:link {
  color: hsl(0, 100%, 50%);
}

a:visited {
  color: hsl(0, 60%, 50%);
}

a:active {
  background-color: hsl(0, 100%, 50%);
  color: white;
}

li {
  margin: 1em;
  list-style-type: none;
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  left: -2em;
  top: 0.3em;
  border-color: transparent var(--bullet-color);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
}

.container {
  margin: 0 auto;
  margin-top: 1.2em;
}

.subtitle {
  font-style: italic;
  font-size: 1.2em;
  margin: 0 auto;
  color: var(--subtitle-color);
}

.text-center {
  text-align: center;
}

.img-label {
  margin-top: 0.1em;
}

.date {
  font-weight: bold;
}
.date::after {
  content: ': ';
}

header {
  margin-bottom: 2em;
}

header h1 {
  margin-bottom: 0.2em;
  margin-top: 0;
}

.title {
  margin-bottom: 1em;
}

.more {
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 2em;
    max-width: 45em;
  }
  .title {
    margin-bottom: 2em;
  }
  .more {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 960px) {
  .container {
    margin-top: 3em;
    max-width: 50em;
  }
  .title {
    margin-bottom: 3em;
  }
  h1 {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.3em;
  }
  header {
    margin-bottom: 3em;
  }
  section {
    margin-bottom: 3em;
  }
}
